@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bm-menu-wrap {
  background: #15152254 !important;
  /* background: transparent !important; */
  position: absolute;
  height: 74% !important;
  top: 7%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: none !important;
}
.bm-overlay {
  background: none !important;
}
.bm-cross-button {
  display: none !important;
}
@media (max-width: 768px) {
  .bm-menu-wrap {
    width: 20% !important;
  }
}
@media (max-width: 640px) {
  .bm-menu-wrap {
    width: 40% !important;
    height: 82% !important;
  }
}

::-webkit-scrollbar {
  width: 2px;
  left: -100px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.react-burger-menu-btn {
  display: hidden;
}
